* {
  box-sizing: border-box;
}

.dropdown {
  display: flex;
  height: 0.5em;
  flex-wrap: wrap;
}

.collapsed {
  border-style: solid;
  border-width: 1px;
  background-color: rgb(54, 54, 54);
}

.dropdown .collapsed {
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  flex-direction: row;
}

.selected p {
  align-self: center;
  margin: 0.5em;
}

.arrow {
  visibility: hidden;
}

.collapsed:hover .arrow {
  visibility: visible;
}

.arrow[data-open="false"] {
  margin-top: 1em;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgb(150, 150, 150);
}

.arrow[data-open="true"] {
  margin-bottom: 1em;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgb(150, 150, 150);
}

.suggestions ul {
  border: 1px solid;
  border-color: rgb(150, 150, 150);
  border-radius: 3px;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.suggestions li {
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(54, 54, 54);
}

.suggestions li[data-selected="true"] {
  background-color: rgb(100, 100, 100);
}

.suggestions li[data-hovering="true"] {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
